<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/static/css/style.css" rel="stylesheet" >
</head>
<body>
    <h1>Vamsi Peddibhotla</h1>
    <h2>2405864911</h2>
    <h2>vpeddibh@terpmail.umd.edu</h2>
    <p><strong>I originally was a student at Frederick Community College.</strong> <em>My least favorite courses were:</em></p>
        <Ul>
            <li>Every Econ Ever</li>
            <li>Every possible Accounting class</li>
        </Ul>
    <p><em>I now attend the University of Maryland College Park.</em> <strong>My favorite classes ranked include:</strong> </p>
    <p class="big-green">I AM A PROUD UMD BUSINESS SCHOOL STUDENT</p>
        <Ol>
            <li>BMGT443</li>
            <li>BMGT407</li>
            <li>BMGT440</li>
            <li>BMGT380</li>
        </Ol>
    <p>The following list shows which semester I took my favorite classes</p>
    <table>
        <tr>
            <!-- Adding headers for the table where data will fall below -->
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT443</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>BMGT440</td>
            <td>Fall 2024</td>
        </tr>
        <tr>
            <td>BMGT380</td>
            <td>Fall 2022</td>
        </tr>
    </table>

    <a href="/hello"> My relative reference for hello.html</a>
<!-- Adding variations of links that keep you on the same page and open a new tab -->
    <p>The following is my favorite website, the one and only, Canvas. <a href="https://umd.instructure.com" target="_blank">Canvas Link</a></p>
    <p>This next website is my nostaglic favorite. <a href="https://www.coolmathgames.com">Cool Math</a> </p>
<!--Inputting image with the same size speficiations as found on BMGT407 slides in class -->
    <p>Here is a picture of the Smith logo</p>
    <p>The width for this image is 267 and the height is 72</p>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png">
    <p id="special-one"> This is the end of the information about myself. Thanks for reading what I had to say!</p>

</body>
</html>